* {
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
}

/******************************블랙배경과 손그림 편지**/
.black {
    display: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    transition: 0.5;
}

.mail_bundle {
    display: none;
    z-index: 200;
    width: 700px;
    height: 700px;
    position: fixed;
    top: calc(50% - 350px);
    left: calc(50% - 350px);
    overflow: hidden;
    border-radius: 20px;
}

.img_box {
    z-index: 200;
    width: 700px;
    height: 700px;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 20px;
    position: relative;
}

/**업앤다운 버튼**/
.btn {
    z-index: 300;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 700px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 40px;
    color: #bca4a4;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}


.down {
    position: absolute;
    bottom: 0px;
    left: 0;
}

/**사이트이동**/
.site {
    width: 700px;
    height: 700px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #e6e4cd;

}

.site > .box {
    width: 680px;
    height: 680px;
    border-radius: 20px;
    border:4px dotted #698475;
    padding: 200px ;
    box-sizing: border-box; 
    position: relative;

}
.site > .box > p{
    font-size:20px;
    color: #698475;
    line-height:30px;
    font-weight: bold;
}
.site > .box > p:nth-child(2){margin-bottom: 100px;}
.go {
    
    padding:10px 30px; 
    border-radius: 5px;
    background:#bca4a4;
    font-weight: bold;
    
}
.go:link{color: #e6e4cd;}
.go:visited{color: #e6e4cd;}



/********************************배경**/
.bgpattern {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(img/pattern/pattern.jpg);
    background-repeat: repeat;
    background-size: auto;
}

.guide {
    margin: auto;
    z-index: 10;
    width: 1000px;
    height: 100vh;
    box-sizing: border-box;
    border: 50px solid rgba(255, 0, 0, 0.0);
}

/********************************메시지**/
.message {
    width: 450px;
    height: 250px;
    border-radius: 25px;
    position: absolute;
    top: -1000px;
    left: calc(50% - 225px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #e6e4cd;
    box-shadow: -7px -7px 0px #bca4a4;
}

.mail_icon {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.message > h1 {
    font-size: 25px;
    color: #698475;
    margin: 0 0 15px 0;

}

.message > P {
    color: #575d59;
    font-size: 15px;
    line-height: 32px;
    font-weight: 700;
}


.open {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 25px;
    left: calc(50% - 35px);
    border: 3px solid #bca4a4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.open:hover {
    font-size: 17px;
    color: #bca4a4;
    transition: 0.5s;
}
